[defaults]
inventory = inventory/hosts.ini
host_key_checking = false
remote_user = simonj
private_key_file = ~/.ssh/ansible-new
interpreter_python = /usr/bin/python3.14

[privilege_escalation]
become = true
become_method = sudo
